PORT=3000
FRONTEND_ORIGIN=http://localhost:4200
PUBLIC_BASE_URL=http://localhost:4200
MONGODB_URI=mongodb://localhost:27017/datashare
JWT_SECRET=
JWT_EXPIRES_IN=24h
STORAGE_DIR=../storage
MAX_FILE_SIZE=1073741824
